.ipynb_checkpoints
AirNow
EPA-AirData
*.lock
*.log

*~
upload-airnow-to-esdr
esdr-auth-airnow-uploader.json
google-api-keys.json
highest-10-notifications-config.json
mailgun-config.json
sendgrid-config.json
smtp-config.json

*.ipynb.sage-jupyter2
legacy
